# MACOSX
.DS_Store

# Kraken-Bot related
kraken.key
LICENSE

# Jupyter notebook related
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Mac OS related
.DS_Store

# Directory with logs
/log
*.log
logging_config.ini

/configs/*
!/configs/do_not_delete

/logs/*
!/logs/do_not_delete

/env

# Other
.gcloudignore


*.py[cod]
*$py.class
__pycache__
